{% extends "base.html" %}

{% block title %}SalesRoom Example{% endblock %}
{% block header_text %}SalesRoom Example{% endblock %}

{% block content %}

    <ul class="rooms">
        {% for date in dates %}
            <li class="room-link" data-room-id="{{ date.id }}">{{ date }}</li>
        {% empty %}
            <p class="empty">No sale dates defined. Maybe make some dates in the <a href="{% url 'admin:index' %}">admin</a>?</p>
        {% endfor %}
    </ul>

    <div id="chats">
    </div>

{% endblock %}


{% block extra_body %}
    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/sale/stream/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);
            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                console.log("Got websocket message " + message.data);
                var data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    console.log("Joining room " + data.join);
                    var roomdiv = $(
                            "<div class='room' id='room-" + data.join + "'>" +
                            "<h2>" + data.title + " Log</h2>" +
                            "<div class='messages'></div>" +
                            "<div class='products'></div>" +
                            "</div>"
                    );
                    $("#chats").append(roomdiv);
                    // Handle leaving
                } else if (data.leave) {
                    console.log("Leaving room " + data.leave);
                    $("#room-" + data.leave).remove();
                    // Handle getting a message
                } else if (data.message || data.msg_type != 0) {
                    var msgdiv = $("#room-" + data.room + " .messages");
                    var productdiv = $("#room-" + data.room + " .products");
                    var ok_msg = "";
                    var product_msg = "";
                    // msg types are defined in chat/settings.py
                    // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
                    switch (data.msg_type) {
                        case 0:
                            // Message
                            available_activites = $("#room-" + data.room + " .messages .message");
                            if (available_activites.length > 0) {
                                var found = false;
                                for(var i = 0; i < available_activites.length; i++) {
                                    if (available_activites[i].id == data.message[0]) {
                                        found = true;
                                        break;
                                    }
                                }
                                if (!found) {
                                    ok_msg = "<div class='message' id='" + data.message[0] + "'>" +
                                            "<span class='username'>" + data.username + "</span>" +
                                            "<span class='product'>" + data.message[1] + "</span>" +
                                            "<span class='change'>" + data.message[2] + "</span>" +
                                            "<span class='date'>" + data.message[3] + "</span>" +
                                            "</div>";
                                 }
                            } else {
                                ok_msg = "<div class='message' id='" + data.message[0] + "'>" +
                                            "<span class='username'>" + data.username + "</span>" +
                                            "<span class='product'>" + data.message[1] + "</span>" +
                                            "<span class='change'>" + data.message[2] + "</span>" +
                                            "<span class='date'>" + data.message[3] + "</span>" +
                                            "</div>";
                            }
                            break;
                        case 1:
                            // Warning / Advice messages
                            ok_msg = "<div class='contextual-message text-warning'>" + data.message +
                                    "</div>";
                            break;
                        case 2:
                            // Alert / Danger messages
                            ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                                    "</div>";
                            break;
                        case 3:
                            // "Muted" messages
                            ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                                    "</div>";
                            break;
                        case 4:
                            // User joined room
                            ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                    " joined the room!" +
                                    "</div>";
                            break;
                        case 5:
                            // User left room
                            ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                    " left the room!" +
                                    "</div>";
                            break;
                        case 6:
                            available_products = $("#room-" + data.room + " .products .product");
                            if (available_products.length > 0) {
                                var found = false;
                                for(var i = 0; i < available_products.length; i++) {
                                    if (available_products[i].id == data.message[2]) {
                                        found = true;
                                        break;
                                    }
                                }
                                if (!found) {
                                    // Product loading from backend
                                    product_msg = "<div class='product' id='" + data.message[2] + "'>" +
                                                  "<span class='title'>" + data.message[0] + "</span>" +
                                                  "<span class='count'>" + data.message[1] + "</span>" +
                                                  "<span class='sell'><button id='" + data.message[2] + "'>-</button></span>" +
                                                  "</div>";
                                }
                            } else {
                                product_msg = "<div class='product' id='" + data.message[2] + "'>" +
                                                  "<span class='title'>" + data.message[0] + "</span>" +
                                                  "<span class='count'>" + data.message[1] + "</span>" +
                                                  "<span class='sell'><button id='" + data.message[2] + "'>-</button></span>" +
                                                  "</div>";
                            }
                            break;
                        case 7:
                            // Product count change messages
                            ok_msg = "<div class='message'>" +
                                    "<span class='username'>" + data.username + "</span>" +
                                    "<span class='product'>" + data.message[0] + "</span>" +
                                    "<span class='change'>" + data.message[1] + "</span>" +
                                    "<span class='date'>" + data.message[2] + "</span>" +
                                    "</div>";
                            break;
                        default:
                            console.log("Unsupported message type!");
                            return;
                    }
                    msgdiv.append(ok_msg);
                    productdiv.append(product_msg);
                    productdiv.find(".sell button").unbind("click");
                    productdiv.find(".sell button").on("click", function () {
                        if ($(this).parent().siblings(".count").text() > "0") {
                            socket.send(JSON.stringify({
                                "command": "send",
                                "room": data.room,
                                "message": $(this).attr("id"),
                                "msg_type": 7
                            }));
                            var countspan = $(this).parent().parent().children(".count");
                            countspan.html(parseInt(countspan.text())-1);
                        }
                        return false;
                    });
                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                } else if (data.message && data.msg_type == 6) {
                    console.log("Products incoming");
                } else {
                    console.log("Cannot handle message!");
                }
            };
            // Says if we joined a room or not by if there's a div for it
            inRoom = function (roomId) {
                return $("#room-" + roomId).length > 0;
            };
            // Room join/leave
            $("li.room-link").click(function () {
                roomId = $(this).attr("data-room-id");
                if (inRoom(roomId)) {
                    // Leave room
                    $(this).removeClass("joined");
                    socket.send(JSON.stringify({
                        "command": "leave",
                        "room": roomId
                    }));
                } else {
                    // Join room
                    $(this).addClass("joined");
                    socket.send(JSON.stringify({
                        "command": "join",
                        "room": roomId
                    }));
                }
            });
            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });
    </script>
{% endblock %}